@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: pink;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex-grow: 1;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    max-width: calc(100% / 3);
    border: 3px solid #F9DF5F;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}

.background-video, .overlay{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0%;
}

span.touch-icon {
    width: 100%;
    text-align: center;
    flex-grow: 1;
    padding-top: 0.2em;
    color: #f9df5fe6;
    font-size: 8em;
    z-index: 2;
}

h1{
    z-index: 2;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: white;
    text-shadow: 1px 3px 0 #96969673, 1px 13px 5px #aba8a86c, 0px 7px 12px rgba(38,17,10,0.1);
}

h2 {
    z-index: 2;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: rgb(243, 243, 243);
    background-color: rgba(0, 0, 0, 0.274);
    padding: 0 2em 2em 0;
}